## "World Unhappier, More Stressed Out Than Ever"
Source: Gallup, 01.07.24

https://news.gallup.com/poll/394025/world-unhappier-stressed-ever.aspx

#### Negative Experience Index
"Gallup asked adults in 122 countries and areas in 2021 if they had five different negative experiences on the day before the survey -- and compiled the results into an index. Higher scores on the Negative Experience Index indicate that more of a population is experiencing these emotions"

Worry, Stress, Physical pain, Sadness, Anger

#### Positive Experience Index
"The Positive Experience Index is based on people's responses to five questions about positive experiences they had the day before the survey. Higher scores indicate that more of the population reported experiencing these emotions.

Well-rested, Enjoyment, Smiled or laughed Treated with respect Learned or did something interesting the day before the interview

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
path = "positive_experience_index_2021.csv"
df_pe = pd.read_csv(path)
df_pe

     X.1  Positive Experience Index
0   2006                         68
1   2007                         68
2   2008                         69
3   2009                         70
4   2010                         70
5   2011                         69
6   2012                         69
7   2013                         71
8   2014                         71
9   2015                         71
10  2016                         70
11  2017                         69
12  2018                         71
13  2019                         71
14  2020                         71
15  2021                         69

In [5]:
path = "negative_experience_index_2021.csv"
df_ne = pd.read_csv(path)
df_ne

     X.1  Negative Experience Index
0   2006                         24
1   2007                         23
2   2008                         24
3   2009                         24
4   2010                         24
5   2011                         24
6   2012                         26
7   2013                         27
8   2014                         25
9   2015                         28
10  2016                         28
11  2017                         30
12  2018                         30
13  2019                         31
14  2020                         32
15  2021                         33

In [7]:
df_pe.rename(columns= {'X.1': 'year'}, inplace=True)
df_ne.rename(columns= {'X.1': 'year'}, inplace=True)

In [10]:
df_index = pd.merge(df_pe, df_ne, on='year', how='outer')
df_index

    year  Positive Experience Index  Negative Experience Index
0   2006                         68                         24
1   2007                         68                         23
2   2008                         69                         24
3   2009                         70                         24
4   2010                         70                         24
5   2011                         69                         24
6   2012                         69                         26
7   2013                         71                         27
8   2014                         71                         25
9   2015                         71                         28
10  2016                         70                         28
11  2017                         69                         30
12  2018                         71                         30
13  2019                         71                         31
14  2020                         71                         32
15  2021                         69                         33